.about {
  text-align: center;
  background-color: #F6F6F6;
}
.about__title {
  padding: 120px 0 16px 0;
  font-size: 34px;
  font-weight: bold;
}

.about__item {
  padding-bottom: 108px;
  font-weight: 400;
}