.header {
  padding: 32px 0;
  border-bottom: 1px solid #828282;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  &__item {
    color: #828282;
    text-decoration: none;
    font-size: 18px;
  }
}

